.content{
	display:inline-block;
	height: 124px;
	width: 980px;
	overflow:scroll;
}
.discribe{
	display:inline-block;
	height: 72px;
	width: 770px;
	overflow:scroll;
}
table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
	width:100%
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}
.wordclass{
	font-size:20px;
	color:#fff;
	vertical-align:bottom
}
a{
	margin-bottom:0px;
}
.tagsclass{
	vertical-align:bottom
}